.form-wrapper{
    width: 500px;
    backdrop-filter: blur(5px);
    
}
.registration{
    align-items: center;
    justify-content: center;
    display: flex;
}
.inputs{
width: 350px;
}

  .error{
    font-weight: bolder !important;
   color: red;
  }